<!-- mapId is the scope variable containing the mapId string -->
<map mapId="mapId"></map>
<toolbox></toolbox>
<socket-status></socket-status>
<div class="footer">
    <div class="footerContainer">
        <div class="footerText">
            &copy Cropper 2015 - <a href="https://github.com/ismaro3/Cropper" target="_blank">Github</a>
        </div>
    </div>
</div>
<div class="foprueba">
    <div class="pruebaContainer">
        <div class="pruebaText">
            pruiebalm 2014 - <a href="https://github.com/dwilhelm89" target="_blank">Github</a>
        </div>
    </div>
</div>
