<div class="historyContainer">
  <div style="margin: auto; width: 43px;" ng-show="loading">
    <div class="loading"></div>
  </div>
  <div ng-show="isShowMapHistory">

    <span ng-show="history" style="padding-left: 10px">Latitude:
      <input type="number" ng-model="latitude">
    </span>
      <span ng-show="history" style="padding-left: 10px">Longitude:
      <input type="number" ng-model="longitude">
    </span>
      <br/>

      <br/>
   <input type="button" class="btn btn-default" ng-click="updateCoordinates()" value="Find" style="float:right;"ton>


  </div>
  <div ng-show="isShowFeatureHistory">
    <feature-history></feature-history>
  </div>
</div>
