<div class="container border">
  <h1>Cropper</h1><h3>Eye on the sky, feet on the ground</h3>

  <div class="startContainer">
    <!--<input type="text" ng-model="mapIdInput" placeholder="Map Name" ng-keypress="startWithKey($event)" maxlength="15">-->
    <input type="text" ng-model="userInput" placeholder="User Name" ng-keypress="startWithKey($event)" maxlength="15">
    <button class="btn btn-danger" ng-click="startClick()" value="Start">Enter to Cropper</button>
    <br>
    <br>

    <img class="startLogo" src="images/logo.png" />
  </div>
</div>
